body {
	background: #e6e6e8;
}

/*Calendar*/

.calendar {
    width: 300px;    
	height: 350px;
	display: flex;
	flex-direction: column;
	font-family: "Segoe UI", "Helvetica Neue", sans-serif;
	font-weight: 200;
}

.calendar-header {
	display: flex;
	padding: 5px 15px;
	background: white;
	color: #5a5b5f;
}

input.calendar-header-input {
    border: none;
	color: inherit;
    text-align: left;
    flex-grow: 1;
	font: inherit;
	min-width: 10px;
	margin: 5px 0px;
	
}
.calendar-header-icon {
	width: 25px;
	border-style: solid;
	border-width: 4px 2px 2px 2px;
	margin: 5px 0px 6px 0px;
	border-color: #e6e6e8;
}

/*Date picker*/

.datepicker {
	margin-top: 3px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #323439;
	color: #bbb;
}

/*Date picker header*/
.datepicker-clickable-area {
	cursor: pointer;
}

.datepicker-header {
	background-color: #5a5b5f;
	display: flex;
	padding: 10px 5px;
}

.datepicker-header-nav-backward {
	padding: 0px 10px;
}

.datepicker-header-nav-forward {
	padding: 0px 10px;
}

.datepicker-header-content {
	flex-grow: 1;
	text-align: center;
	margin: 0px 10px;
	color: inherit;
}

.datepicker-header span:hover{
	color: white;
}

/*datepicker view */
.datepicker-view {
	display: flex;
	flex-direction: column;
	flex: 1 1 1px;
	padding: 15px;
	text-align: center;
}

.datepicker-view-row {
	font: inherit;
	display: flex;
	flex-direction: row;
	flex: 1 1 1px;
}

.datepicker-view-cell-stretch-in-row {
	font: inherit;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1 1 1px;
}

.datepicker-view-cell-header {
	color: #eee;
	font-weight: 400;
}

.datepicker-view-cell-align-vartical {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.datepicker-view-cell-data {
    min-width: 21px;
    padding: 3px;
	cursor: pointer;
}

.datepicker-view-cell-data:hover {
	color: white;
}

.datepicker-view-cell-selected {
	color: white;
	background: indianred;
	border-radius: 21px;
}

.datepicker-view-cell-aboverange {
	color: #666;
}

.datepicker-view-cell-wide {
    padding: 3px 8px;
}

.datepicker-bottom-area {
	text-align: center;
	margin-bottom: 15px;	
}

button.datepicker-today {
	padding: 3px 25px;
    border-radius: 15px;
    font: inherit;
    border-style: none;
    background-color: #222;
    color: #666;;
	flex-grow: 0;
	align-self: flex-end;
	outline-style: none;
	cursor: pointer;
}

button.datepicker-today:hover {
	color: #bbb;
}
